<div class="container py-5">
  <%= link_to "← All available cars", cars_path, class: "link" %>
  <div class="row">
    <div class="col-12 col-lg-7 body-car">
      <article>
        <h2><%= @car.brand %></h2>
        <p><strong><%= @car.model %></strong></p>
        <p>Price - <%= @car.price %>$</p>
        <p>Address:</p>
        <h3><i class="fas fa-map-marker-alt"></i><%= @car.address %></h3>
        <p>Year of production:</p>
        <h3><%= @car.year_of_production %></h3>
      </article>
    </div class="col-12 col-lg-6">
      <div class="d-flex review pt-3">
        <% @reviews.each do |review| %>
        <p class="star">⭐ <%= review.rating %></p>
        <p class="rev-content"><%= review.content %></p>
        <% end %>
      </div>
    <div>
    </div>
    <div class="col-12 col-lg-5">
      <aside class="bloc-form">
        <p>Price per day</p>
        <h2><strong><%= @car.price %>$</strong></h2>
        <%= simple_form_for [ @car, @booking ] do |f| %>
          <%= f.input :starts_at, as: :date, html5:true, placeholder: 'dd/mm/yyyy' %>
          <%= f.input :ends_at, as: :date, html5:true, placeholder: 'dd/mm/yyyy' %>
          <%= f.button :submit, "Book this car", class: "btn btn-first mt-4" %>
        <% end %>
      </aside>
    </div>
  </div>
</div>
